@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }
}

* {
  scroll-behavior: smooth;
}

.purple__gradient {
  background: rgb(213, 18, 206);
  filter: blur(800px);
}

.blue__gradient {
  background: rgba(50, 98, 255, 0.729);
  filter: blur(500px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.3);
  filter: blur(750px);
}

.project-card.darken {
  filter: brightness(55%);
  /* Oscurece la card cuando no está en hover */
}

.icon-container {
  position: relative;
  display: inline-block;
}

.icon-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  background-color: rgb(213, 18, 206);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
  filter: blur(12px);
  z-index: -1;
}

.icon-container:hover::before {
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 1;
}